{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{%static 'signup-signin/css/style.css'%}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url({%static 'signup-signin/images/bg-1.png' %});">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
				     <form method="POST" autocomplete="off">
                          {% csrf_token %}
			      		<div class="form-group mb-3">
                            <label class="label" for="{{ loginform.username.id_for_label }}">{{ loginform.username.label }}</label>
                            {{ loginform.username }}
                            <div class="error-message">{{ loginform.username.errors }}</div>
			      		</div>
		                 <div class="form-group mb-3">
                             <label class="label" for="{{ loginform.password.id_for_label }}" >{{ loginform.password.label }}</label>
                             {{ loginform.password }}
                             <div class="error-message">{{ loginform.password.errors }}</div>
		                </div>
		                <div class="form-group">
                            <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="Login"/>
                        </div>
		                <div class="form-group d-md-flex">
		                	<div>
			            	    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
								</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div>
		            </form>
		          <p class="text-center">Not a member? <a data-toggle="tab" href="{% url 'register' %}">Sign Up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{%static '/signup-signin/js/jquery.min.js' %}"></script>
  <script src="{%static ' /signup-signin/js/popper.js' %}"></script>
  <script src="{%static ' /signup-signin/js/bootstrap.min.js' %}"></script>
  <script src="{%static '/signup-signin/js/main.js' %}"></script>

	</body>
</html>

